node_modules
__old__tests__
.eslintrc
.npmignore
.travis.yml
.git*
.npm-debug.log
.eslintrc
yarn.lock
coverage
babel.config.js
tsconfig.json
dist/__tests__
build/__tests__
src/__tests__
.nvmrc
.prettierrc
example
